<p>Your bandwidth has been reduced as you did not complete last weeks job!</p>
<p>Once you have completed the <%= @user.jobs.first.name %> ask <%= @check_user.name %> to check it and input the unlock key online.</p>

<%= link_to 'View jobs here', 'http://scottbase.ryanscott.co.nz/'%>
