<p>Your bandwidth has been unlocked!</p>

<p>Make sure you complete the <%= @user.jobs.first.name %> this week so it isn't reduced again</p>

<%= link_to 'View jobs here', 'http://scottbase.ryanscott.co.nz/'%>
